
#if ($this.isDeprecated($schema))
  @Deprecated
#end
  static class Avro implements ${this.anoaInterfaceFullName()}<${this.className()}> {

#foreach ($symbol in ${schema.getEnumSymbols()})
    static public Avro ${this.mangle($symbol)} = new Avro(${this.className()}.${this.mangle($symbol)});
#end

    final private ${this.className()} wrapped;

    private Avro(${this.className()} wrapped) {
      this.wrapped = wrapped;
    }

    @Override public ${this.className()} get() { return wrapped; }

    @Override public boolean equals(Object other) {
      if (other == this) return true;
      if (other == null || !(other instanceof ${this.anoaInterfaceFullName()})) return false;
      return wrapped.ordinal() == ((${this.anoaInterfaceFullName()}) other).getOrdinal();
    }

    @Override public int hashCode() { return wrapped.ordinal(); }

    @Override public String toString() { return wrapped.toString(); }

    static public final long serialVersionUID = ${this.version()};
  }

  /** Returns enum instance for the given ${this.anoaInterfaceName()}. */
  static Avro avro(${this.anoaInterfaceFullName()}<?> instance) {
    return avro(instance.getOrdinal());
  }

  /** Returns enum instance for the given Avro enum. */
  static Avro avro(${this.className()} instance) {
    return avro(instance.ordinal());
  }

  /** Returns enum instance for the given ordinal, defaults to first enum value. */
  static Avro avro(int ordinal) {
    switch (ordinal) {
#set( $i = 0 )
#foreach ($symbol in ${schema.getEnumSymbols()})
      case $i: return Avro.${this.mangle($symbol)};
#set( $i = $i + 1 )
#end
    }
    return Avro.${this.mangle($schema.getEnumSymbols().get(0))};
  }

  /** Returns enum instance for the given label, defaults to first enum value. */
  static Avro avro(java.lang.CharSequence str) {
    if (str != null) {
      switch (str.toString().toUpperCase()) {
#foreach ($symbol in ${schema.getEnumSymbols()})
        case "${this.mangle($symbol)}": return Avro.${this.mangle($symbol)};
#end
      }
    }
    return Avro.${this.mangle($schema.getEnumSymbols().get(0))};
  }

  /** Returns Avro enum class. */
  static java.lang.Class<${this.className()}> getAvroClass() {
    return ${this.className()}.class;
  }

  /** Returns Avro enum schema. */
  static org.apache.avro.Schema getAvroSchema() {
    return ${this.className()}.SCHEMA$;
  }
