#if ($schema.getNamespace())
package $schema.getNamespace();
#end

#if ($schema.getDoc())
/** $schema.getDoc() */
#end
#if ($this.isDeprecated($schema))
@Deprecated
#end
#foreach ($annotation in $this.javaAnnotations($schema))
@$annotation
#end
public interface ${this.mangle($schema.getName())}<T> extends java.util.function.Supplier<T> {

#if ($this.isWithAvro())
  /** Returns Avro class for this enum. */
  static Class<${this.avroClassName($schema)}> getAvroClass() {
    return ${this.avroClassName($schema)}.class;
  }

  /** Returns Avro schema for this enum. */
  static org.apache.avro.Schema getAvroSchema() {
    return ${this.avroClassName($schema)}.SCHEMA$;
  }

  /** Returns Avro enum instance for the given ordinal, defaults to first enum value. */
  static ${this.mangle($schema.getName())}<${this.avroClassName($schema)}> findAvroEnum(java.lang.Integer ordinal) {
    return ${this.avroClassName($schema)}.fromInteger(ordinal);
  }

  /** Returns Avro enum instance for the given label, defaults to first enum value. */
  static ${this.mangle($schema.getName())}<${this.avroClassName($schema)}> findAvroEnum(java.lang.CharSequence str) {
    return ${this.avroClassName($schema)}.fromString(str);
  }

  /** Wraps an Avro object. */
  static ${this.mangle($schema.getName())}<${this.avroClassName($schema)}> fromAvro(${this.avroClassName($schema)} o) {
    return o;
  }

#end
#if ($this.isWithProtobuf())
  /** Returns Protobuf class for this enum. */
  static Class<${this.protobufClassName($schema)}> getProtobufClass() {
    return ${this.protobufClassName($schema)}.class;
  }

  /** Returns Protobuf protocol class for this enum. */
  static Class<${this.getProtocolFullName()}Protobuf> getProtobufProtocolClass() {
    return ${this.getProtocolFullName()}Protobuf.class;
  }

  /** Returns Protobuf descriptor for this enum. */
  static com.google.protobuf.Descriptors.EnumDescriptor getProtobufDescriptor() {
    return ${this.protobufClassName($schema)}.getDescriptor();
  }

  /** Returns Protobuf protocol descriptor for this enum. */
  static com.google.protobuf.Descriptors.FileDescriptor getProtobufProtocolDescriptor() {
    return ${this.getProtocolFullName()}Protobuf.getDescriptor();
  }

  /** Returns Protobuf enum instance for the given ordinal, defaults to first enum value. */
  static ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}> findProtobufEnum(int ordinal) {
    ${this.protobufClassName($schema)} result = ${this.protobufClassName($schema)}.valueOf(ordinal);
    return fromProtobuf((result == null) ? ${this.protobufClassName($schema)}.valueOf(0) : result);
  }

  /** Wraps a Protobuf object. */
  static ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}> fromProtobuf(${this.protobufClassName($schema)} o) {
    assert o != null;
    return new ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}>() {

      static public final long serialVersionUID = ${this.getVersion($schema)};

      @Override
      public boolean isProtobuf() { return true; }

      @Override
      public ${this.protobufClassName($schema)} get() { return o; }

      @Override
      public boolean equals(Object other) {
        if (other == this) return true;
        if (other == null || !(other instanceof ${this.mangle($schema.getName())})) return false;
        return getOrdinal() == ((${this.mangle($schema.getName())}) other).getOrdinal();
      }

      @Override
      public int hashCode() {
        return getOrdinal();
      }

      @Override
      public int getOrdinal() { return o.getNumber(); }
    };
  }

#end
#if ($this.isWithThrift())
  /** Returns Thrift class for this enum. */
  static Class<${this.thriftClassName($schema)}> getThriftClass() {
    return ${this.thriftClassName($schema)}.class;
  }

  /** Returns Thrift enum instance for the given ordinal, defaults to first enum value. */
  static ${this.mangle($schema.getName())}<${this.thriftClassName($schema)}> findThriftEnum(int ordinal) {
    return fromThrift(${this.thriftClassName($schema)}.findByValue(ordinal));
  }

  /** Wraps a Thrift object. */
  static ${this.mangle($schema.getName())}<${this.thriftClassName($schema)}> fromThrift(${this.thriftClassName($schema)} o) {
    return new ${this.mangle($schema.getName())}<${this.thriftClassName($schema)}>() {

      static public final long serialVersionUID = ${this.getVersion($schema)};

      @Override
      public boolean isThrift() { return true; }

      @Override
      public ${this.thriftClassName($schema)} get() { return o; }

      @Override
      public boolean equals(Object other) {
        if (other == this) return true;
        if (other == null || !(other instanceof ${this.mangle($schema.getName())})) return false;
        return getOrdinal() == ((${this.mangle($schema.getName())}) other).getOrdinal();
      }

      @Override
      public int hashCode() {
        return getOrdinal();
      }

      @Override
      public int getOrdinal() { return o.getValue(); }
    };
  }
#end

  default boolean isAvro() { return false; }
  default boolean isProtobuf() { return false; }
  default boolean isThrift() { return false; }

  /** Returns enumeration ordinal. */
  int getOrdinal();
}
