#if ($schema.getNamespace())
package $schema.getNamespace();
#end

#if ($schema.getDoc())
/** $schema.getDoc() */
#end
#if ($this.isDeprecated($schema))
@Deprecated
#end
#foreach ($annotation in $this.javaAnnotations($schema))
@$annotation
#end
public interface ${this.mangle($schema.getName())}<T> extends java.util.function.Supplier<T>, java.io.Serializable {
#if ($this.isWithAvro())

  /** Returns Avro class for this struct. */
  static Class<${this.avroClassName($schema)}> getAvroClass() {
    return ${this.avroClassName($schema)}.class;
  }

  /** Returns Avro schema for this struct. */
  static org.apache.avro.Schema getAvroSchema() {
    return ${this.avroClassName($schema)}.SCHEMA$;
  }

  /** Returns new Avro builder for this struct with default values. */
  static ${this.avroClassName($schema)}.Builder newAvroBuilder() {
    return ${this.avroClassName($schema)}.newBuilder();
  }

  /** Returns new Avro builder for this struct based on an existing prototype. */
  static ${this.avroClassName($schema)}.Builder newAvroBuilder(${this.avroClassName($schema)} other) {
    return ${this.avroClassName($schema)}.newBuilder(other);
  }

  /** Returns new Avro builder for this struct based on an existing prototype. */
  static ${this.avroClassName($schema)}.Builder newAvroBuilder(${this.avroClassName($schema)}.Builder otherBuilder) {
    return ${this.avroClassName($schema)}.newBuilder(otherBuilder);
  }

  /** Wraps an Avro object. */
  static ${this.mangle($schema.getName())}<${this.avroClassName($schema)}> fromAvro(${this.avroClassName($schema)} o) {
    return o;
  }
#end
#if ($this.isWithProtobuf())

  /** Returns Protobuf class for this struct. */
  static Class<${this.protobufClassName($schema)}> getProtobufClass() {
    return ${this.protobufClassName($schema)}.class;
  }

  /** Returns Protobuf protocol class for this enum. */
  static Class<${this.getProtocolFullName()}Protobuf> getProtobufProtocolClass() {
    return ${this.getProtocolFullName()}Protobuf.class;
  }

  /** Returns Protobuf descriptor for this struct. */
  static com.google.protobuf.Descriptors.Descriptor getProtobufDescriptor() {
    return ${this.protobufClassName($schema)}.getDescriptor();
  }

  /** Returns Protobuf protocol descriptor for this enum. */
  static com.google.protobuf.Descriptors.FileDescriptor getProtobufProtocolDescriptor() {
    return ${this.getProtocolFullName()}Protobuf.getDescriptor();
  }

  /** Returns new Protobuf builder instance with default values. */
  static ${this.protobufClassName($schema)}.Builder newProtobufBuilder() {
    return ${this.protobufClassName($schema)}.newBuilder();
  }

  /** Returns new Protobuf builder instance based on existing prototype. */
  static ${this.protobufClassName($schema)}.Builder newProtobufBuilder(${this.protobufClassName($schema)} other) {
    return ${this.protobufClassName($schema)}.newBuilder(other);
  }

  /** Wraps a Protobuf object. */
  static ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}> fromProtobuf(${this.protobufClassName($schema)} o) {
    return fromProtobuf(o, o.toByteArray());
  }

  /** Wraps a serialized Protobuf object. */
  static ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}> fromProtobuf(byte[] protobufBytes) {
    return fromProtobuf(null, protobufBytes);
  }

  static ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}> fromProtobuf(${this.protobufClassName($schema)} protobufPojo, byte[] protobufBytes) {
    assert protobufBytes != null;
    return new ${this.mangle($schema.getName())}<${this.protobufClassName($schema)}>() {

      static public final long serialVersionUID = ${this.getVersion($schema)};

      transient private ${this.protobufClassName($schema)} o = protobufPojo;

      private ${this.protobufClassName($schema)} deserialize() {
        try {
          return ${this.protobufClassName($schema)}.parseFrom(protobufBytes);
        } catch (java.io.IOException e) {
          throw new java.io.UncheckedIOException(e);
        }
      }

      @Override
      public boolean isProtobuf() { return true; }

      @Override
      public ${this.protobufClassName($schema)} get() {
        if (o == null) { o = deserialize(); }
        return o;
      }

      @Override
      public boolean equals(Object other) {
        if (other == this) return true;
        if (other == null || !(other instanceof ${this.mangle($schema.getName())})) return false;
        if (o == null) { o = deserialize(); }
        return o.equals(((${this.mangle($schema.getName())}) other).get());
      }

      @Override
      public int hashCode() {
        if (o == null) { o = deserialize(); }
        return o.hashCode();
      }
#foreach ($field in $schema.getFields())

      @Override
      public ${this.javaType($field.schema())} ${this.generateGetMethod($schema, $field)}() {
        if (o == null) { o = deserialize(); }
        return ${this.protobufValue($schema, $field)};
      }
#end
    };
  }
#end
#if ($this.isWithThrift())

  /** Returns Thrift class for this struct. */
  static Class<${this.thriftClassName($schema)}> getThriftClass() {
    return ${this.thriftClassName($schema)}.class;
  }

  /** Returns Thrift metadata map for this struct. */
  static java.util.Map<${this.thriftClassName($schema)}._Fields, org.apache.thrift.meta_data.FieldMetaData> getThriftMetadataMap() {
    return ${this.thriftClassName($schema)}.metaDataMap;
  }

  /** Returns new Thrift instance with default values. */
  static ${this.thriftClassName($schema)} newThriftInstance() {
    return new ${this.thriftClassName($schema)}();
  }

  /** Returns new Thrift instance based on existing prototype. */
  static ${this.thriftClassName($schema)} newThriftInstance(${this.thriftClassName($schema)} other) {
    return new ${this.thriftClassName($schema)}(other);
  }

  /** Wraps a Thrift object. */
  static ${this.mangle($schema.getName())}<${this.thriftClassName($schema)}> fromThrift(${this.thriftClassName($schema)} o) {
    assert o != null;
    return new ${this.mangle($schema.getName())}<${this.thriftClassName($schema)}>() {

      static public final long serialVersionUID = ${this.getVersion($schema)};

      @Override
      public boolean isThrift() { return true; }

      @Override
      public ${this.thriftClassName($schema)} get() { return o; }

      @Override
      public boolean equals(Object other) {
        if (other == this) return true;
        if (other == null || !(other instanceof ${this.mangle($schema.getName())})) return false;
        return o.equals(((${this.mangle($schema.getName())}) other).get());
      }

      @Override
      public int hashCode() { return o.hashCode(); }
#foreach ($field in $schema.getFields())

      @Override
      public ${this.javaType($field.schema())} ${this.generateGetMethod($schema, $field)}() {
        return ${this.thriftValue($schema, $field)};
      }
#end
    };
  }
#end

  default boolean isAvro() { return false; }
  default boolean isProtobuf() { return false; }
  default boolean isThrift() { return false; }
#foreach ($field in $schema.getFields())

#if ($field.doc())  /** $field.doc() */
#end
#if ($this.isDeprecated($field))  @Deprecated
#end
  ${this.javaType($field.schema())} ${this.generateGetMethod($schema, $field)}();
#end
}
